.guraj{
    padding-bottom: 50px;
}
.waves-effect{
    margin: 50px;
}

.newAuthor {
    margin-bottom: 100px;
}
.parag{
    font-size: 30px;
}

.title5{
    font-weight: bolder;
    text-transform: uppercase;
}